@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Hal Product Details */
body {
	background-color: #eeeeee !important;
}

.textTitle {
	font-size: 32px;
	letter-spacing: -0.5px;
}

.textHarga {
	font-size: 24px;
	padding: 6px 0 0 0;
}

.descriptionTitle {
	font-size: 16px;
	letter-spacing: -0.5px;
	padding: 0 0 4px 0;
}

.textDescription {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 13.5px;
	padding: 18px 0 9px 0;
	margin: 0;
	color: #686868;
}

.textBtnCustom {
	font-size: 12px;
	letter-spacing: -0.5px;
}

.textBtnCustom:hover {
	box-shadow: 0px 9px 10px -3px #dd8863;
}

hr {
	margin-bottom: 28px !important;
	margin-top: 4px !important;
	background-color: #b23947;
	height: 2px !important;
}

.object-fit-cover {
	object-fit: cover;
}

.textBtnCustomRed {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 21px;
	letter-spacing: -0.5px;
	margin: 26px 0 0 0;
}

.textBtnCustomRed:hover {
	box-shadow: 0px 9px 10px -3px #b23947;
}

.titleSubtotal {
	font-size: 20px;
	letter-spacing: -0.5px;
	padding: 56px 0 0 0;
}

.textSubtotal {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 19px;
	letter-spacing: -0.5px;
	color: #686868;
}

.textList {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.5px;
	color: #4e4e4e;
}

.textTotalHarga {
	font-family: "Roboto";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #4e4e4e;
	padding: 9px 0 9px 0;
}

.list-group {
	border: 0 none !important;
}

/* hal custom bumbu */
.titleAddCstm {
	font-size: 21px;
}

#placeholerSty {
	font-size: 14px;
}

.listItem {
	font-size: 26px;
}

.listHarga {
	font-size: 18px;
	color: #575454;
}

.border-2 {
	border-width: 1px;
	color: #666666;
}

.borderless th {
	border: none !important;
	border-color: indianred !important;
}

/* Hal Cart */
.titleCart {
	font-size: 30px;
}

.subTitleCart {
	font-size: 29px;
	letter-spacing: -0.5px;
	/* padding: 68px 0 0px 0; */
}

.textSubCart {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 17.5px;
	margin: 24px 0 47px 0;
	color: #949698;
}

.textBase {
	font-size: 25px !important;
	margin: 16px 0 0px 0;
	letter-spacing: -0.5px;
	line-height: 1.2 !important;
}

.textHargaBase {
	font-size: 21px;
	color: #4e4e4e;
}

.deskripsiText {
	font-size: 15px;
	line-height: 1.25 !important;
}

.titleTextCustom {
	font-size: 21.5px !important;
	color: #b23947 !important;
	letter-spacing: -0.5px;
	margin: 0 0 0 28px;
}

.imgBaseCart {
	height: 128px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.imgBaseCart {
		height: 238px;
	}
}

.card-header {
	padding: 0 !important;
}

.borderCustom {
	border-radius: 18px;
	background-color: #f9f9f9;
	box-shadow: rgba(196, 110, 110, 0.25) 0px 25px 50px -12px;
	/* height: 330px; */
}

/* .accordion-toggle:focus {
	outline: none !important; */
/* outline: none !important;
	border: none !important; */
/* } */
.btn-link:focus,
a:focus {
	outline: none !important;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.borderCustom {
		height: 430px;
	}
}

.borderCustomList {
	border-radius: 18px;
	background-color: #f9f9f9;
	box-shadow: rgba(196, 110, 110, 0.25) 0px 25px 50px -12px;
	margin-bottom: 5px;
	padding: 8px 0 0 10px;
}

.textCustomBumbu {
	font-size: 16px;
	color: #b23947;
	padding: 0 0 0 30px;
	margin: 0;
	line-height: 1.25 !important;
}

.textCustomGram {
	font-size: 14px;
	padding: 2px 0 0 30px;
	color: #7c202b;
}

.lineListOrder {
	background-color: #b23947;
	height: 12px;
	margin: 18px 0 63px 0px !important;
}
.linePlaceOrder {
	background-color: #4e4e4e;
	height: 0.5px;
	margin: 26px 0 30px 0px !important;
}

.padSm {
	margin-bottom: 10px;
}
.txtTotalHarga {
	font-size: 26px;
}
.btnPlaceOrder {
	margin: 0 15px 0 15px !important;
}
.btnPlaceOrder:hover {
	font-weight: 700;
	background-color: #ac3745 !important;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.btnPlaceOrder {
		width: 20% !important;
	}
}
